<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<h1>Chosen flight:</h1>
<h2><%= @flight.departure_airport.location %> to
<%= @flight.arrival_airport.location %> <br>
departure time: <%= @flight.departure_time %></h2>

<%= form_for @booking, url: { action: :create }  do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
    Passengers:
    <ul>
      <%= f.fields_for :passengers do |passengers_form| %>
        <li>
          <%= passengers_form.label :name %>
          <%= passengers_form.text_field :name %>

          <%= passengers_form.label :email %>
          <%= passengers_form.text_field :email %>
        </li>
      <% end %>
    </ul>
  <%= f.submit "Complete booking" %>
<% end %>
